.main-notifications {
  min-width: 550px;
  -webkit-box-shadow: rgba(121, 121, 121, 0.4) 0px 8px 24px;
          box-shadow: rgba(121, 121, 121, 0.4) 0px 8px 24px;
  position: absolute;
  top: 55px;
  right: 0;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
}

.main-notifications::-webkit-scrollbar {
  display: none;
}

.main-notifications h2 {
  margin: 5px 0 20px 10px;
}

.main-notifications .notification-card {
  width: 500px;
}

.main-notifications .notification-card .sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-notifications .notification-card p {
  font-size: 0.9rem;
}

.main-notifications .notification-card .title {
  font-size: 1.1rem;
  font-weight: 700;
}

.main-notifications .notification-card img {
  height: 10px;
  margin-bottom: 16px;
  margin-left: 5px;
}

.main-notifications .notification-card .vc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-notifications .notification-card .action {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .main-notifications {
    min-width: unset;
    position: fixed;
    left: 50%;
    top: 80px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-height: calc(100vh - 90px);
    width: 95vw;
  }
  .main-notifications .notification-card {
    width: 100%;
  }
}
